body {
    background-color: grey;
}
.nav-link {
    float: left;
    padding-bottom: 10px;
}
#navheader{
    margin-bottom: 2rem;
}
#main-section {
    margin-bottom: 2rem;
}
.quirk h3 {
    position: absolute;
    bottom: 20px;
    width: 92.5%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
}
h1 {
    background-color: #4aa;
    color: white;
}
h2 {
    color: #4aa;
}
#main-section {
    clear: both;
    margin-bottom: 2rem;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
  }
  .card-img-top {
      margin-bottom: 2rem;
  }
  .submit {
      margin-bottom: 10rem;
  }
  .adjust {
      width: 960px;
  }